venv/
__pycache__/
.ipynb_checkpoints/
data/raw/*
!data/raw/.gitkeep
data/processed/*.parquet
!data/processed/movies.parquet
!data/processed/movie_stats.parquet
CineMatch_Recommendation_System_Pipeline.pdf
*.pbix.bak
.DS_Store
